@import "tailwindcss";

@layer utilities {
  .bg-bmw {
    background-image: url('/src/assets/bmw.jpg');
  }
}

.carousel {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.carousel-track img {
  width: 120px;
  margin: 0 20px;
  object-fit: contain;
  opacity: 0.9;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
